
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    padding-right: 2rem;
    background-color: #282c34;
    color: white;
}


.name {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2rem;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 2rem;
    color: white;
}


.nav-links li {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav-links li Link{
    color: aliceblue;
}

@media (max-width: 600px) {
   
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 1rem;          
    }

   
    .name {
        font-size: 1.5rem;      
        margin-left: 0;         
        margin-bottom: 1rem;    
    }

   
    .nav-links {
        flex-direction: column; 
        gap: 10px;              
        margin-right: 0;        
        width: 100%;            
    }

    .nav-links li {
        margin: 10px 0;         
        text-align: left;       
        color: white;           
    }
}
